<h1>Amigos</h1>


<table>
  <tr>
    <th>Nombre</th>
    <th>telefono</th>
    <th>Edad</th>
    <th>alias</th>
    <th>Action</th>
  </tr>
 
  <% @friends.each do |friend| %>
    <tr>
      <td><%= friend.name %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.age %></td>
      <td><%= friend.alias %></td>
      <td><%= link_to 'Show', friend_path(friend) %></td>
    </tr>
  <% end %>
</table>

<button> <%= link_to "Agregar amigo", new_friend_path %></button>
