<table>
  <tr>
    <th>Nombre</th>
    <th>telefono</th>
    <th>Edad</th>
    <th>alias</th>
    
  </tr>
 
  
    <tr>
      <td><%= @friends.name %></td>
      <td><%= @friends.phone %></td>
      <td><%= @friends.age %></td>
      <td><%= @friends.alias %></td>
      <td><%= link_to 'Editar', edit_friend_path(@friends) %></td>
      <td><%= link_to "Destroy", friend_path(@friends), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>
    </tr>
</table>

<button><%= link_to "Volver", root_path %></button>



